@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';

.oppgaver {
    .navds-heading__medium {
        margin-bottom: 1rem;
    }

    .oppgave-tittel {
        margin-bottom: 1.5rem;
    }

    .navds-alert {
        margin-top: 0.5rem;

        .navds-alert__wrapper {
            display: flex;
            align-items: center;

            .oppgave-tekst {
                .navds-link {
                    display: inline; // vi overstyrer inline-flex i navds-link pga at det brekker teksten
                    color: @navds-semantic-color-text;

                    &:focus {
                        color: @navds-global-color-white;
                    }
                }
            }
        }
    }
}
