@import '../../../node_modules/nav-frontend-core/less/_variabler';

.oppgaver {
    margin: 1rem 0 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid @navGra40;

    .alertstripe {
        margin-top: 0.5rem;
    }
}
