@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../basic';

.radiofaner {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    .navds-radio {
        display: flex;
        margin: 0.35rem 2rem 0 0;

        .navds-help-text {
            margin-left: 1rem;
            align-self: center;
        }
    }
}

@media (min-width: @screen-sm) {
    .radiofaner {
        flex-direction: row;
        justify-content: center;
        margin: 0.5rem 0;
    }
}
