@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../basic';

.tidslinjeutdrag__container {
    margin: 2rem 0;

    .tidslinjeutdrag {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;

        .tidslinjeutdrag__bilde {
            margin-bottom: 1rem;
            width: 66%;
        }
    }

    .apnet {
        transition: all 500ms ease-in-out;
        max-height: 1000px;
        opacity: 1;
    }

    .lukket {
        transition: all 500ms ease-in-out;
        max-height: 0;
        opacity: 0;
        overflow-y: hidden;
    }

    .knapperad {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .radiofaner + .tidslinjeutdrag {
        margin-top: 0;
    }

    .lesMerPanel__mer {
        padding-top: 0.5rem;
    }

    &.lesMerPanel {
        padding: 0 1.4rem 1rem;
    }
}

.friskmelding__bjorn {
    margin: 1rem 0 2rem;

    button {
        margin-top: 1rem;
    }
}

@media (min-width: @screen-sm) {
    .tidslinjeutdrag__container {
        .tidslinjeutdrag {
            flex-direction: row-reverse;
            align-items: flex-start;
            margin-top: 2rem;

            .tidslinjeutdrag__bilde {
                margin-left: 2rem;
                width: 35%;
            }

            .tidslinjeutdrag__intro {
                flex: 1;
            }
        }
    }
}
