@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../basic';

.tidslinje__ytre {
    .navds-heading--medium {
        margin: 1rem 0 2rem;
    }

    .tidslinje {
        .rad {
            display: flex;
            align-items: flex-start;
            padding-bottom: 1rem;
            position: relative;

            .navds-body-short h3 {
                margin: 0;
            }

            .ikon + .navds-body-short {
                font-weight: bold;
            }

            &:first-child:before {
                top: 50%;
                height: 50%;
            }

            &:before {
                content: '';
                position: absolute;
                left: 8px;
                margin-top: -6px;
                height: 100%;
                width: 1px;
                background-color: @navds-global-color-gray-400;
            }

            &:last-child:before {
                top: -1rem;
                height: 3rem;
            }

            .ikon {
                position: relative;
                width: 30px;
                align-self: flex-start;
                margin-top: 1rem;
                z-index: 1;

                &.highlight {
                    border-radius: 50%;
                    background-color: @navds-global-color-blue-50;
                }

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            .tittel {
                align-self: center;
            }

            .navds-accordion {
                flex: 1;
                background-color: @navds-global-color-gray-100;
                border-radius: 4px;
                border: 1px solid @navds-global-color-gray-400;

                .navds-accordion__item--open > .navds-accordion__header {
                    background-color: @navds-global-color-gray-100;
                }

                .navds-accordion__content {
                    padding: 0.5rem 1rem 1rem;
                }

                img {
                    width: 100%;
                    max-width: 370px;
                    height: auto;
                    margin-bottom: 1rem;
                }

                &__tittel {
                    padding-right: 0.7rem;

                    .navds-body-short {
                        h3 {
                            font-size: 16px;
                            font-weight: 600;
                            margin: 0;
                        }
                    }
                }
            }

            &.tid {
                .ikon {
                    margin-top: 0;
                }
            }

            &.start {
                .ikon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: @navds-global-color-blue-50;
                    border-radius: 50%;
                    margin: 0 1rem 0 -3px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

@media (min-width: @screen-sm) {
    .tidslinje__ytre {
        .tidslinje {
            .rad {
                .ikon {
                    margin-right: 1rem;
                }

                &.start,
                &.tid {
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                &.start {
                    .ikon {
                        margin-left: -12px;
                        width: 40px;
                        height: 40px;
                    }
                }

                &.tid {
                    .ikon {
                        margin-top: 0;
                        margin-left: -3px;
                    }
                }
            }
        }
    }
}
