@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../basic';

.lenker {
    margin: 2rem 0;

    .bred-tekst-lenkepanel {
        width: 80%;
    }

    .navds-heading__medium {
        margin-bottom: 1rem;
    }

    .navds-link-panel {
        justify-content: space-between;
        margin-bottom: 0.5rem;

        .navds-link-panel__content {
            display: flex;
            align-items: center;
            width: 80%;
        }

        .navds-heading__small {
            width: 80%;
        }

        .lenkeikon {
            display: flex;
            align-items: center;
            border-radius: 4px 0 0 4px;
            margin: -1rem 0.4rem -1rem -0.6rem;
            padding: 8px;
            align-self: stretch;

            svg {
                display: none;
            }
        }

        .lenkepanel__indikator {
            position: absolute;
            right: 1rem;
            left: auto;
        }
    }
}

@media (min-width: @screen-sm) {
    .lenker {
        .navds-link-panel {
            .navds-heading__small {
                width: 80%;
            }

            .lenkeikon {
                width: 2.4rem;
                margin: -1rem 1.2rem -1rem -1rem;
                padding: 1rem;

                svg {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
}
