@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../basic';

.lenker {
    margin: 2rem 0 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid @navGra40;

    .typo-systemtittel {
        margin-bottom: 1rem;
    }

    .lenkepanel {
        margin-bottom: 0.5rem;

        .typo-undertittel {
            width: 70%;
        }

        .lenkeikon {
            display: flex;
            align-items: center;
            background-color: @navLysBlaLighten80;
            border-radius: 4px 0 0 4px;
            margin: -1rem;
            padding: 8px;
            align-self: stretch;

            svg {
                display: none;
            }
        }
    }
}

@media (min-width: @screen-sm) {
    .lenker {
        .lenkepanel {
            .typo-undertittel {
                width: 80%;
            }

            .lenkeikon {
                width: 4rem;
                padding: 1rem;

                svg {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
}
