@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';

.forside {
    .sidetopp__tittel {
        text-align: center;
        margin-bottom: 2rem;
    }

    .nav-veilederpanel {
        margin-bottom: 2rem;
    }

    .personvern {
        margin-top: 2rem;
    }
}
