@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';

.din-situasjon {
    .tittel {
        display: flex;
        margin: 2rem 0 0.5rem 0;

        .navds-heading {
            margin-left: 0.2rem;
        }
    }
}

.leder__informasjon {
    margin-top: 1rem;
}

.situasjon__innhold {
    background-color: @navds-global-color-blue-50;

    .leder__informasjon {
        margin-top: 1rem;
    }
}

.accordion {
    margin-top: 1rem;
    .navds-accordion__content {
        padding-bottom: 1rem;
    }
}
