.din-situasjon .din-situasjon__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 0.5rem 0;
    padding: 0.3rem 0 0.6rem;
}
.din-situasjon .din-situasjon__header .del1 {
    display: flex;
}
.din-situasjon .din-situasjon__header .navds-heading {
    margin-left: 0.2rem;
}
.din-situasjon .navds-panel {
    margin-bottom: 1rem;
}
.din-situasjon .leder__informasjon {
    margin-top: 1rem;
}
.din-situasjon .situasjon__innhold {
    background-color: #e6f0ff;
}
.arbeidsgiver-accordion .navds-accordion__header {
    background-color: #e6f0ff;
}
