@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';

.din-situasjon {
    .din-situasjon__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0 0.5rem 0;
        padding: 0.3rem 0 0.6rem;

        .del1 {
            display: flex;
        }

        .navds-heading {
            margin-left: 0.2rem;
        }
    }

    .navds-panel {
        margin-bottom: 1rem;
    }

    .leder__informasjon {
        margin-top: 1rem;
    }

    .situasjon__innhold {
        background-color: @a-blue-50;
    }
}

.arbeidsgiver-accordion {
    .navds-accordion__header {
        background-color: @a-blue-50;
    }
}
