@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../basic';

@headerFarge: #d1eff9;

.sidebanner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: @headerFarge;
    padding: 1.2rem 0;

    .sidebanner__tittel {
        text-align: center;
    }
}
