name: workflow
on:
  workflow_dispatch:
  push:

jobs:
  felles-workflow:
    uses: ./.github/workflows/next-js.yml
    permissions:
      packages: write
      contents: read
      actions: read
      id-token: write
      security-events: write
    secrets: inherit
    with:
      base-path: syk/sykefravaer
